<div class="text-layout">
    <h1>Pipes Personalizados</h1>
</div>

<!-- Custom Pipe capitalletter -->
<div class="grid">
    <div class="col-4">
        <p-card>
            <p>Hola {{'marley' | capitalletter:inCapitalLetter  }}</p>
            <button pButton
                    label="Uppercase - Lowercase"
                    (click)="change()">
            </button>
        </p-card>
    </div>
</div>
<!-- Custom Pipe capitalletter end -->

<p-toolbar>
    <div class="p-toolbar-group-left">

    </div>
    <div class="p-toolbar-group-right">
        <button pButton
                icon="pi pi-sort"
                label="Por nombre"
                class="mr-5 p-button-warning">
        </button>
        <button pButton
                icon="pi pi-sort"
                label="Vuela"
                class="mr-5 p-button-success">
        </button>
        <button pButton
                icon="pi pi-sort"
                label="Por color"
                class="mr-5 p-button-help">
        </button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-3">
        <p-table [value]="heroes | order:order" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                    <th>Origen</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.name}}</td>
                    <td>{{heroe.flying | flying | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                    <td>{{heroe.origin}}</td>
                </tr>
            </ng-template>
        </p-table>        
    </div>
</div>