<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">

    <!-- Number Pipe -->
    <div class="col-4">
        <p-card header="Ventas Netas">
            <i class="pi pi-dollar"></i>
            {{(slaes + 2000000) | number:'1.2-2'}}
        </p-card>
    </div>
    <!-- Number Pipe end -->

    <!-- Currency Pipe -->
    <div class="col-4">
        <p-card header="Ventas Brutas">
            {{(slaes + 2000000) | currency:'USD':'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>
    <!-- Currency Pipe end -->

    <!-- Percent Pipe -->
    <div class="col-4">
        <p-card header="Ganancia porcentual">
            {{percentage | percent:'2.2-2'}}
        </p-card>
    </div>
    <!-- Percent Pipe end -->

</div>